<div id="addfollower" class="modal hide fade" style="display: none;">
	
	<div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h4>Administer Board</h4>
    </div>
    <div class="modal-body">
		<p>
			<%if @doc.pdoc == 1%>
				<%= button_to( 'Make Board Public', pdoc_path(:doc_id => @doc), :class => 'btn btn-mini btn-danger') %>
			<%else%>
				<%= button_to( 'Make Board Private', pdoc_path(:doc_id => @doc), :class => 'btn btn-mini btn-primary') %>
			<%end%>
			
		</p>
		<p>
			<%= button_to 'Edit Board Header', edit_doc_path(@doc), :method => :get, :class => 'btn btn-mini btn-primary' %>
		</p>

	

		<%= form_tag(add_follower_path(@doc.id), :html => {:method => :put, :class => 'form-horizontal' }) do %>
	  
			<%

			x =	@doc.followers
			x.delete current_user
			owner = @doc.owner_list

			%>

		
	<h4>Select a followed user to add to board:</h4>
			<p><%= select_tag("user", options_from_collection_for_select(@users, :id, :name) )%></p>
			<p>or invite a new users by email</p>
			<%= field_set_tag do %>
			  <p><%= text_field_tag 'email' %></p>
			<% end %>
			<p> <%= submit_tag("Add user to board", class: "btn btn-small btn-primary") %></p>
			<table class="table table-condensed">

				<% x.each do |y| %>
					<tr>
				    	<td><%= link_to y.name, y %></td>
				    	<td><%= y.email %></td>
						<td>

						<% if owner.include?(String(y.id)) == true   %> 
							<%= link_to 'Remove Admin', remove_admin_path(:doc_id => @doc.id, :user_id => y.id) %>
						<%else%>
							<%= link_to 'Make Admin', make_admin_path(:doc_id => @doc.id, :user_id => y.id) %>
						<%end%>	
						</td>
				    	<td><%= link_to 'Remove', remove_follower_path(:doc_id => @doc.id, :user_id => y.id) %></td>
				  	</tr>
					<p></p>
			    <%end%>

			</table>
  	</div>
		
	    <div class="modal-footer">
	      <a class="btn" data-dismiss="modal" href="#">Close</a>
	    </div>
		
	<% end %>
	
</div>