


<% 

version = @feature.version_list
baselineid = @feature.baselineid_list

u = User.find(@feature.owner_list)
owner = @feature.owner_list
p = @feature.parent_doc_list

@doc = Doc.find(p[0])
docowner = @doc.owner_list

%>


<div class="row-fluid">
  <div class="span8">
  
      <ul class="nav">
		<li class="dropdown">
		  <a class="dropdown-toggle" href="#"><h4 class="media-heading"><%= link_to @feature.title, @feature %> <b class="caret"></b></h4>
		  </a>
		  <ul class="dropdown-menu">
			<% if owner.include?(String(current_user.id)) == true  %> 
				<li> <%= link_to "Edit", new_featurever_path(:feature_id => @feature.id) %> </li>
	  									
			<%else%>
							
			<%end%>
			<li><a data-toggle="modal" href="#feature_comment-<%= @feature.id%>">Create comment</a> </li>
						
		  </ul>
		</li>
      </ul>
  
  </div>
  <div class="span4"></div>
</div>

<div class="row-fluid">
   <div class="span8"><%if @feature.photo.exists?%><%= image_tag @feature.photo(:original) %><%else%><%end%>

		<div class="well well-small"><%= @feature.gherkin %>
		</div>
		<% @f = @feature %>

   </div>
   <div class="span4" class="well well-small pull-right">
		<%@all_feature_comments = @feature.comment_threads%>
		<% if @all_feature_comments.length == 0 %> <%else%><p><h4>Feedback on <%= @feature.title %></4h></p><%end%>
		<%@all_feature_comments.each do |comments| %>
			<%u = User.find(comments.user_id)%>
			<blockquote >
			  <p><%=comments.body%></p>	<% if current_user.id == comments.user_id %> 
					<%= button_to('Remove', remove_comment_path(:doc_id => @doc.id, :comment_id => comments.id), :class => 'btn btn-mini pull-right')%>
					<%else%> <%end%>
			  <small> <cite title="Source Title"><%if User.exists?(comments.user_id)%><%= link_to u.name, u %><%else%>Author unknown<%end%>, <%= comments.created_at%></cite></small>
			</blockquote>
			
		<%end%>
		
      	<%= render "docs/feature_comment" %>
   </div>
</div>

-------------------
<% @subfeatures = @feature.following_features%>
<% @subfeatures = @subfeatures.order("created_at ASC")%>
<% @subfeatures.each do |subfeature| %>
	<div class="row-fluid">
  		<div class="span7 offset1"><%= subfeature.title %></div>
		<div class="span4"></div>
	</div>

	<div class="row-fluid">
  		<div class="span7 offset1"><%if subfeature.photo.exists?%><%= image_tag subfeature.photo(:original) %><%else%><%end%>
			<div class="well well-small"><%= subfeature.gherkin %></div>
			<% @sf = subfeature %>
			<a data-toggle="modal" href="#subfeature_comment-<%= @sf.id%>" class="btn btn-mini btn-primary pull-right" type="button">Add your feedback</a> 
		</div>	
		<div class="span4" class="well well-small pull-right">
					
				<%@all_subfeature_comments = subfeature.comment_threads%>
				<% if @all_subfeature_comments.length == 0 %> <%else%><p><h4>Feedback on <%= subfeature.title %></4h></p><%end%>
				<%@all_subfeature_comments.each do |comments| %>
					<%u = User.find(comments.user_id)%>
					<blockquote >
					  <p><%=comments.body%></p>	<% if current_user.id == comments.user_id %> 
								<%= button_to('Remove', remove_comment_path(:doc_id => @doc.id, :comment_id => comments.id), :class => 'btn btn-mini pull-right')%>
								<%else%> <%end%>
					  <small> <cite title="Source Title"><%if User.exists?(comments.user_id)%><%= link_to u.name, u %><%else%>Author unknown<%end%>, <%= comments.created_at.strftime("%m/%d/%Y %I:%M")%></cite></small>
					</blockquote>

				<%end%>

		      	<%= render "docs/subfeature_comment" %>
		</div>
	</div>
<% end %> 
-----------------------



