<!DOCTYPE html>
<html lang="en">

<% @features.each do |feature| %>
<div class="row-fluid">
  <div class="span11 offset1"><%= link_to feature.title, feature %></div>
</div>

<div class="row-fluid">
  <%if feature.photo.exists?%>
  	<div class="span5 offset1"><%= image_tag feature.photo(:large) %></div>
  	<div class="span6"><%= feature.gherkin %></div>
  <%else%>
  	<div class="span11 offset1"><%= feature.gherkin %></div>
  <%end%>
</div>

	<% @subfeatures = feature.following_features%>
	<% @subfeatures.each do |subfeature| %>
		<div class="row-fluid">
	  		<div class="span10 offset2"><%= link_to subfeature.title, subfeature %></div>
		</div>

		<div class="row-fluid">
	  	<%if subfeature.photo.exists?%>
	  		<div class="span5 offset2"><%= image_tag subfeature.photo(:large) %></div>
	  		<div class="span5"><%= subfeature.gherkin %></div>
	  	<%else%>
	  		<div class="span10 offset2"><%= subfeature.gherkin %></div>
	  	<%end%>
		</div>	
	<% end %>  
<% end %>


</html>

