
<%
	u = User.find(@feed.user_id)
	f = Feature.find(@feed.feature_id)


	doc = Doc.find(@feed.doc_id)
	owner = doc.owner_list	
 %>
					

  
  
<blockquote >
    <a class="pull-left" href= <%=doc_path(doc)%>>
	<%if f.photo.exists?%>
		<p><%= image_tag f.photo(:thumb) %>&nbsp;</p>
	<%else%>
	  	<%if doc.photo.exists?%>
	  		<p ><%= image_tag doc.photo(:thumb) %>&nbsp;</p>
	  	<%else%>
	  	<%end%>
	<%end%>

    </a>

	<h4 class="media-heading"><%= link_to doc.title, doc_path(doc) %></h4>

  <p><%= link_to u.name, u %> created a new story: <%= link_to f.title, f%>
	  <small> <cite title="Source Title"><%= @feed.created_at.strftime("%m/%d/%Y")%></cite></small></p>
</blockquote>
