
<%
	
	v = Featurever.find(@feed.featurever_id)

	doc = Doc.find(@feed.doc_id)
	owner = doc.owner_list	
 %>
					

  
  
<blockquote >
    <a class="pull-left" href= <%=doc_path(doc)%>>
	<%if v.photo.exists?%>
		<p><%= image_tag v.photo(:thumb) %>&nbsp;</p>
	<%else%>
	  	<%if doc.photo.exists?%>
	  		<p ><%= image_tag doc.photo(:thumb) %>&nbsp;</p>
	  	<%else%>
	  	<%end%>
	<%end%>

    </a>

	<h4 class="media-heading"><%= link_to doc.title, doc_path(doc) %></h4>

  <p><%if User.exists?(@feed.user_id)%><%u = User.find(@feed.user_id) %><%= link_to u.name, u %><%else%>Author unknown<%end%> created a new version: <%= link_to v.title, versions_path(:feature_id => v.featureid)%>
	  <small> <cite title="Source Title"><%= @feed.created_at.strftime("%m/%d/%Y")%></cite></small></p>
</blockquote>