
<!DOCTYPE html>
<html lang="en">


<a data-toggle="modal" href="#newboard" class="btn btn-mini btn-primary" type="button">New Board</a>


<% @docs.each do |doc| %>


	<div class="media">
	  <a class="pull-left" href= <%=doc_path(doc)%>>
		<%if doc.photo.exists?%>
			<p><%= image_tag doc.photo(:medium) %></p>
		<%else%>
		<%end%>
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><%= link_to doc.title, doc_path(doc) %></h4>
	    <%= doc.description %>
		<p>
			<% 	
				u = User.find(doc.owner_list)
				owner = doc.owner_list		
			 %>
			<% if owner.include?(String(current_user.id)) == true  %> <%= link_to 'Edit', edit_doc_path(doc) %> | <%= link_to 'Delete', doc, method: :delete, data: { confirm: 'Are you sure?' } %> <%else%> <%end%>
		</p>
	  </div>
	</div>
 	<hr />

	
	
<% end %>

	<%= render "docs/newboard" %>

</html>