
<!DOCTYPE html>
<html lang="en">
  
<div class="row-fluid">
  <div class="span4"></div>
  <div class="span4"></div>
  <div class="span4"></div>
</div>

<% @docs.each do |doc| %>
<div class="row-fluid">
  <div class="span1"><%= link_to doc.title, doc %></div>
  <div class="span8 well well-small"><%= doc.description %></div>
  <div class="span2">
<% u = User.find(doc.owner_list) %>
<% if current_user.id == u[0].id %> <%= link_to 'Edit', edit_doc_path(doc) %> | <%= link_to 'Delete', doc, method: :delete, data: { confirm: 'Are you sure?' } %> <%else%> <%end%> 
  </div>
<% end %>
</div>


<%= link_to 'New Doc', new_doc_path %>

</html>