<!DOCTYPE html>
<html lang="en">

 <div class="row-fluid">
  	<div class="span12"><h4><%= @doc.title %></4h></div>
</div>

 <div class="row-fluid">
  	<div class="span12"><%= link_to 'Edit Document', edit_doc_path(@doc) %></div>
</div>


 <div class="row-fluid">
  <div class="span12">	<%if @doc.photo.exists?%>
		<%= image_tag @doc.photo(:original) %>
	<%else%>

	<%end%></p></div>
</div>
<div class="row-fluid">
 	<div class="span12"><%= @doc.description %></div>
</div>

 <div class="row-fluid">
  	<div class="span12"><%=render "docs/features"%></div>
</div>

 <div class="row-fluid">
  	<div class="span12"><%= link_to 'Add New Feature', new_feature_path(:doc_id => @doc.id) %> |
	<%= link_to 'Back', docs_path %></div>
</div>

</html>