<% 

	u = User.find(@feature.owner_list)
	owner = @feature.owner_list
	p = @feature.parent_doc_list
	
	@doc = Doc.find(p[0])
	docowner = @doc.owner_list
	
	version = Featurever.where(:featureid => @feature.id)
	
 %>

<% if docowner.include?(String(current_user.id)) == true  %> 		
		<%
			pf = @feature.parent_feature_list
		%>
		<% if pf[0].nil? %>
				<a data-toggle="modal" href="/features/#newsubsection" class="btn btn-mini btn-primary" type="button">Add a story to <%=@feature.title%></a>
				
		<%else%>
			
		<%end%>

	<%else%>
<%end%>
<%= link_to 'Full Board', doc_path(@feature.parent_doc_list), :class => 'btn btn-mini btn-primary  pull-right' %>

<%
if version.size > 0
%>
	<%= render "features/latestversion" %>
<%else%>
	<%= render "features/initialfeature" %>
<%end%>

<%= render "features/subfeature" %>
 	






