<% 

	u = User.find(@feature.owner_list)
	owner = @feature.owner_list
	p = @feature.parent_doc_list
	
	@doc = Doc.find(p[0])
	docowner = @doc.owner_list
	
 %>


<% if docowner.include?(String(current_user.id)) == true  %> 		
		<%
			pf = @feature.parent_feature_list
		%>
		<% if pf[0].nil? %>
				<a data-toggle="modal" href="/features/#newsubsection" class="btn btn-mini btn-primary" type="button">Add a story to <%=@feature.title%></a>
				
		<%else%>
			
		<%end%>

	<%else%>
<%end%>
<%= link_to 'Full Board', doc_path(@feature.parent_doc_list), :class => 'btn btn-mini btn-primary  pull-right' %>

<div class="row-fluid">
  <div class="span8"><h4><%= @feature.title %></h4></div>
  <div class="span4"></div>
</div>
 <div class="row-fluid">
  	<div class="span8">
		<% if docowner.include?(String(current_user.id)) == true  %> 
			<%= link_to 'Edit Feature', edit_feature_path(@feature) %> |
			<%= link_to 'Delete Feature', @feature, method: :delete, data: { confirm: 'Are you sure?' } %>
			
			<%
				pf = @feature.parent_feature_list
			%>
			<% if pf[0].nil? %>
					
			<%else%>
				
			<%end%>
	
		<%else%>
		<%end%>
	
    </div>
	<div class="span4"></div>
	
</div>

<div class="row-fluid">
  <div class="span8"><%if @feature.photo.exists?%><%= image_tag @feature.photo(:original) %><%else%><%end%>
  	<div class="well well-small"><%= @feature.gherkin %></div>
	<a data-toggle="modal" href="#feature_comment-<%= @feature.id%>" class="btn btn-mini btn-primary pull-right" type="button">Add your feedback</a>
  </div>
  
  <%= render "features/feature_comment" %>
  <div class="span4" class="">
		
		<%@all_feature_comments = @feature.comment_threads%>
		<% if @all_feature_comments.length == 0 %> <%else%><p><h4>Feedback on <%= @feature.title %></4h></p><%end%>
		<%@all_feature_comments.each do |comments| %>
			
			<blockquote >
			  <p><%=comments.body%></p>	<% if current_user.id == comments.user_id %> 
							<%= button_to('Remove', remove_feature_comment_path(:feature_id => @feature.id, :comment_id => comments.id), :class => 'btn btn-mini pull-right')%>
							<%else%> <%end%>
			  <small> <cite title="Source Title"><%if User.exists?(comments.user_id)%><%= User.find(comments.user_id).name%><%else%> Author unknown<%end%></cite></small>
			</blockquote>
		<%end%>

    </div>
</div>
<div class="row-fluid">
 	
</div>




		<% @subfeatures = @feature.following_features
		   @subfeatures = @subfeatures.order("created_at ASC")
		
		
		%>
		<% @subfeatures.each do |subfeature| %>
		
			<div class="row-fluid">
		  		<div class="span7 offset1"><h4><%= subfeature.title%></h4></div>
				<div class="span4"></div>
			</div>
			<div class="row-fluid">
		  		<div class="span7 offset1"><% if docowner.include?(String(current_user.id)) == true  %> 
			
			<%= link_to 'Edit Sub-Feature', edit_feature_path(subfeature) %> | <%= link_to 'Delete Sub-Feature', subfeature, method: :delete, data: { confirm: 'Are you sure?' } %>
			<%else%>
			<%end%>
			
				</div>
				<div class="span4"></div>
			</div>
			
			<div class="row-fluid">
		  		<div class="span7 offset1"><%if subfeature.photo.exists?%><%= image_tag subfeature.photo(:original) %><%else%><%end%>
					<div class="well well-small"><%= subfeature.gherkin %></div>
					<% @sf = subfeature %>
					<a data-toggle="modal" href="#subfeature_comment-<%= @sf.id%>" class="btn btn-mini btn-primary pull-right" type="button">Add your feedback</a>
				</div>
				 <%= render "features/subfeature_comment" %>
				<div class="span4" class="">
						
						<%@all_subfeature_comments = subfeature.comment_threads%>
						<% if @all_subfeature_comments.length == 0 %> <%else%><p><h4>Feedback on <%= subfeature.title %></4h></p><%end%>
						<%@all_subfeature_comments.each do |comments| %>

							<blockquote >
							  <p><%=comments.body%></p>	<% if current_user.id == comments.user_id %> 
												<%= button_to('Remove', remove_feature_comment_path(:feature_id => @feature.id, :comment_id => comments.id), :class => 'btn btn-mini pull-right')%>
												<%else%> <%end%>
							  <small> <cite title="Source Title"><%if User.exists?(comments.user_id)%><%= User.find(comments.user_id).name%><%else%>Author unknown<%end%></cite></small>
							</blockquote>
						<%end%>

				</div>
				 
			</div>
		
		<% end %>  

	 <div class="row-fluid">
	  	<div class="span12">
			<% if docowner.include?(String(current_user.id)) == true %> 
				<%
					pf = @feature.parent_feature_list
				%>
				<% if pf[0].nil? %>
					
				<%else%>
					
				<%end%>
			
			<%else%>

			
			<%end%>
		
		</div>
	<%= render "features/newsubsection" %>
	 </div>
