
<!DOCTYPE html>
<html lang="en">


<div class="row-fluid">
  <div class="span12"><p id="notice"><h4><%= @feature.title %></h4></div>
</div>
 <div class="row-fluid">
  	<div class="span12"><%= link_to 'Edit Feature', edit_feature_path(@feature) %> |
	<%= link_to 'Delete Feature', @feature, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>

<div class="row-fluid">
  <div class="span12">	<%if @feature.photo.exists?%><%= image_tag @feature.photo(:large) %><%else%><%end%></div>
</div>
<div class="row-fluid">
 	<div class="span12"><%= @feature.gherkin %></div>
</div>




		<% @subfeatures = @feature.following_features%>
		<% @subfeatures.each do |subfeature| %>
		<%=subfeature.parent_feature_list%>
			<div class="row-fluid">
		  		<div class="span10 offset2"><h4><%= subfeature.title%></h4></div>
			</div>
			<div class="row-fluid">
		  		<div class="span10 offset2"><%= link_to 'Edit Sub-Feature', edit_feature_path(subfeature) %>|<%= link_to 'Delete Sub-Feature', subfeature, method: :delete, data: { confirm: 'Are you sure?' } %></div>
			</div>
			
			<div class="row-fluid">
		  	<%if subfeature.photo.exists?%>
		  		<div class="span5 offset2"><%= image_tag subfeature.photo(:large) %></div>
		  		<div class="span5"><%= subfeature.gherkin %></div>
		  	<%else%>
		  		<div class="span10 offset2"><%= subfeature.gherkin %></div>
		  	<%end%>
		
		<% end %>  

	 <div class="row-fluid">
	  	<div class="span12"><%= link_to 'New Sub-Feature', new_feature_path(:feature_id => @feature.id) %>|
		<%= link_to 'Back', doc_path(@feature.parent_doc_list) %></div>

	 </div>

</html>

